<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  	<legend>Ingrese los detalles del cliente</legend>
	<div>
    <%= f.label :folio %>:
    <%= f.text_field :folio %>
  </div>

  <div>
    <%= f.label :fecha %>:
    <%= f.text_field :fecha %>
  </div>
  
  <div>
    <%= f.label :m_pago, "Método de pago" %>:
    <%= f.text_field :m_pago %>
  </div>

  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
