<%= wicked_pdf_stylesheet_link_tag 'factura' %>
<div class="row">
  <div class="span6 offset3">
  	<% cliente= Client.find_by_client_id(current_factura.client_id) %>
  	<div class="cabecera">
	  	<div class="logo"><%= wicked_pdf_image_tag('clientes.png')%></div>
	  	<div class="datos_factura">
	  		<div class="titulo">FACTURA</div>
		  	<div class="title_num">N&uacute;mero:</div>
			<div class="campo_num">
					<%= @factura.folio %>
			</div>
	  		<div class="title_lyf">Lugar y fecha:</div>
	  		<div class="campo_lyf">
		  		<%= cliente.estado %>, <%= cliente.municipio %>, <%= @factura.fecha %>
	  		</div>
		  	<div class="title_f_pago">Forma de pago:</div>
	  		<div class="campo_f_pago">
		  		<%= @factura.m_pago %>
	  		</div>
	  	</div>
	</div>
  </div>
  	<div class="client">
	  		<div class="leyenda">Detalles del cliente</div>
	  		<div class="detalles_cliente">
				<div class="nombre_cliente"> NOMBRE: <%= cliente.nombre %></div>
				<div class="rfc_cliente"> RFC: <%= cliente.RFC %></div>
				<div class="dir_cliente"> DIRECCI&Oacute;N: <%= cliente.direccion %></div>
				<div class="ciudad_cliente"> CIUDAD: <%= cliente.municipio %></div>
				<div class="estado_cliente"> ESTADO: <%= cliente.estado %></div>
				<div class="cod_post"> C.P. <%= cliente.CP %></div>
			</div>
  	</div>
  	<div class="productos">
  			<div class="table">
  				<div class="columnas">
  					<div class="ncol_cant">CANTIDAD</div><div class="ncol_sku">SKU</div><div class="ncol_um">UNIDAD DE MEDIDA</div>
  					<div class="ncol_desc">DESCRIPCI&Oacute;N</div><div class="ncol_pre">PRECIO</div><div class="ncol_imp">IMPORTE</div>
  				</div>
  				<% st = 0 %>
  				<% contador = 1 %>
  				<% FacturasProducto.all.each do |fp| %>
  					<% if(fp.factura_id == @factura.factura_id) %>
  					<div class="campos">
  						<div class="col_cant">
  							<div id="cantidad_<%= contador %>" class="camp_cant"><%= fp.cant %></div>
  						</div>
  						<div class="col_sku">
  							<div id="sku_<%=contador %>" class="camp_sku"><%= Product.find_by_product_id(fp.product_id).sku%></div>
  						</div>
  						<div class="col_um">
  							<div id="um_<%= contador %>"class="camp_um"><%= Product.find_by_product_id(fp.product_id).u_medida %></div>
  						</div>
  						<div class="col_desc">
  							<div id="desc_<%= contador %>"class="camp_desc"><%= Product.find_by_product_id(fp.product_id).descripcion%></div>
  						</div>
  						<div class="col_precio">
  							<div id="precio_<%= contador %>"class="camp_prec"><%= number_to_currency(Product.find_by_product_id(fp.product_id).p_unit) %></div>
  						</div>
  						<div class="col_importe"><% imp= importe(fp.cant, Product.find_by_product_id(fp.product_id).p_unit) %>
  							<div id="importe_<%= contador %>"class="camp_imp"><%= number_to_currency(imp) %></div>
  						</div>
  					</div>
  						  <% st = calcular_subtotal(st, imp) %>
  						  <% contador = contador + 1 %>
  					<% end %>
  				<% end %>
  				<% iva = calcular_iva(st) %>
  				<% cantidad = total(st, 0) %>
  			</div>
  		</div>
  		<div class="bdd"<%= wicked_pdf_image_tag('clientes.png')%></div>
		<div class="observ">
			<div class="obs_label"><b>Observaciones</b><br></div>
			<div class="obs_campo"><%= @factura.observaciones %></div>
		</div>
		<div class="num_letra">
			<div class="num_letra_label"><b>Importe con letra</b><br></div>
			<div class="num_letra_campo"><%= cantidad_en_letras(cantidad) %></div>
		</div>
		<div class="firma_cliente">
			DEBO(MOS) Y PAGARE(MOS) INCONDICIONALMENTE A LA ORDEN DEL INEGI EL IMPORTE TOTAL
			QUE AMPARA ESTA FACTURA, RECONOCIENDO QUE DE NO SER LIQUIDADO DICHO IMPORTE EN
			LA FECHA PACTADA EN LA AUTORIZACI&Oacute;N DEL CR&Eacute;DITO, CAUSAR&Aacute; UN INTER&Eacute;S DEL 5%
			MENSUAL MAS I.V.A.<br /><br />
			FIRMA DEL CLIENTE O REPRESENTANTE LEGAL: ____________________________________________
		</div>
		<div class="numeros"><br />
			<div class="subtotal">
				<div class="titulo1">Subtotal</div>
				<div class="input1"><%= number_to_currency(st) %></div>
			</div>
			<div class="descuento">
				<div class="titulo2">Descuento</div>
				<div class="input2"> </div>
			</div>
			<div class="iva">
				<div class="titulo3">I.V.A.</div>
				<div class="input3"><%= number_to_currency(iva) %></div>
			</div>			
			<div class="total">
				<div class="titulo4">Total</div>
				<div class="input4"><%= number_to_currency(cantidad) %></div>
			</div>
		</div>
		<div class="vigencia">
			Comprobante impreso conforme con lo establecido en la fracci&oacute;n III del Art&iacute;culo 29-B del CFF y
			al &uacute;ltimo p&aacute;rrafo de la fracci&oacute;n I de la Regla I.2.8.3.1.1 de la RMF 2012.<br /><br />
			Este comprobante tendr&aacute; una vigencia de dos a&ntilde;os contados a partir de la fecha de aprobaci&oacute;n
			de la asignaci&oacute;n de folios.
		</div>
		<div class="advertencia">
			La reproducci&oacute;n ap&oacute;crifa de este comprobante constituye un delito en los t&eacute;rminos de las
			disposiciones fiscales.
  </div>
</div>