<h1>Listando usuarios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
  </tr>

<td><% User.all.each do |user| %></td>
  <tr>
  	<td><%= user.empresa %></td>
    <td><%= link_to 'Mostrar', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Estas seguro de borrar a este usuario?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo usuario', new_user_path %>
