<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  	<legend>Ingrese los detalles del cliente</legend>
	<div>
    <%= f.label :nombre %>:
    <%= f.text_field :nombre, :size => 50 %>
  </div>

  <div>
    <%= f.label :RFC %>:
    <%= f.text_field :RFC, :size => 13 %>
  </div>
  
  <div>
    <%= f.label :estado %>:
    <%= f.text_field :estado %>
  </div>

  <div>
    <%= f.label :municipio %>:
    <%= f.text_field :municipio %>
  </div>

  <div>
    <%= f.label :direccion %>:
    <%= f.text_field :direccion %>
  </div>

  <div>
    <%= f.label :CP %>:
    <%= f.text_field :CP %>
  </div>
  </fieldset>
    <div>
    <%= f.submit %>
  </div>
<% end %>
