<%= render 'shared/error_messages', object: f.object %>
  <fieldset>
  	<legend>Ingrese los detalles del cliente</legend>
	  <div>
	    <%= f.label :RFC %>:
	    <%= f.text_field :RFC, :size => 13 %>
	  </div>
	  	
	  <div>
		<%= f.label :nombre %>:
		<%= f.text_field :nombre, :size => 50 %>
	  </div>
	  
	  <div>
	    <%= f.label :direccion %>:
	    <%= f.text_field :direccion, :size => 50 %>
	  </div>  
	  
	  <div>
	    <%= f.label :estado %>:
	    <%= f.text_field :estado, :size => 20 %>
	
	    <%= f.label :municipio %>:
	    <%= f.text_field :municipio, :size => 20 %>
	
	    <%= f.label :CP %>:
	    <%= f.text_field :CP, :size => 20 %>
	  </div>
  </fieldset>