<h1>Listando clientes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
  </tr>

<td><% Client.all.each do |client| %></td>
  <tr>
  	<td><%= client.nombre %></td>
  	<td><%= User.find_by_user_id(client.user_id).empresa %></td>
    <td><%= link_to 'Mostrar', client %></td>
    <td><%= link_to 'Editar', edit_client_path(client) %></td>
    <td><%= link_to 'Destruir', client, method: :delete, data: { confirm: '¿Estas seguro de borrar a éste cliente?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
