<% provide(:title, 'Listando clientes') %>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    
  </tr>
<td><% Client.all.each do |client| %></td>
  
  	<td><% if(client.user_id == current_user.user_id) %></td>
  	<tr>
  		<td><%= client.client_id%></td>
	  	<td><%= client.nombre %></td>
	    <td><%= link_to 'Ver', client %>&nbsp;|&nbsp;</td>
	    <td><%= link_to 'Editar', edit_client_path(client) %></td>
	</tr>
	<% end %>
  
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
