<% provide(:title, 'Nuevo producto/servicio') %>
<%= render 'shared/error_messages', object: f.object %>
<fieldset>
  <div class="field">
    <%= f.label :sku %>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :descripcion, "Descripcion" %>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :p_unit, 'Precio unitario' %>
    <%= f.text_field :p_unit %>
  </div>

  <div class="field">
    <%= f.label :u_medida, 'Unidad de medida' %>
    <%= f.text_field :u_medida %>
  </div>
  
  <div class="actions">
    <%= f.submit "Crear" %> &oacute; <%= link_to "Cancelar", products_path %>
  </div>
</fieldset>
