<% provide(:title, 'Listando productos') %>

<table>
  <tr>
    <th>Sku</th>
    <th>Descripci&oacute;n</th>
    <th></th>
  </tr>

<td><% Product.all.each do |product| %></td>
  
  	<td><% if(product.user_id == current_user.user_id) %></td>
  	<tr>
  		<td><%= product.sku%></td>
	  	<td><%= product.descripcion%></td>
	    <td><%= link_to 'Ver', product %>&nbsp;|&nbsp;</td>
	    <td><%= link_to 'Editar', edit_product_path(product) %></td>
	</tr>
	<% end %>
  
<% end %>
</table>

<br />

<%= link_to 'Nuevo Producto', new_product_path %>
